{% extends "layout.html" %}
{% block content %}

<div class="row">
<div class="col-sm">
  <h1>Detected Cars</h1>
  <img src="{{ url_for('video_feed') }}" height="350px">
  </div>  
</div>

<div class="row">
  <div class="col-sm">
    <img src="{{ url_for('static', filename='arrival.png')  }}" height="350px">
    <h3>Time between arrival</h3>
  </div>

  <div class="col-sm">
    <img src="{{  url_for('static', filename='flow.png')  }}" height="350px">
    <h3># cars at the light</h3>
  </div>
</div>
{% endblock %}